@import 'generals';

.icon-cart:before {
	font-family: 'icons';
	content: '\f07a';
}

.icon-delete:before {
	font-family: 'icons';
	content: '\f056';
}

.icon-add:before {
	font-family: 'icons';
	content: '\f055';
}
