$space-default: 30px;
$font-default: 'open_sansregular';
$font-strong: 'open_sanssemibold';
$content-width: 1200px;

// GREY
$color-light-grey: #f3f3f3;
$color-grey: #ccc;
$color-dark-grey: #666;

// BLUE
$color-light-blue: #1da1f5;
$color-blue: #006db2;
$color-dark-blue: #00416b;
$color-marine-blue: #002846;

// GREEN
$color-green: #4caf50;

// RED
$color-red: #f44336;

// WHITE
$color-white: #fff;

// BLACK
$color-black: #000;

// ORANGE
$color-orange: #ffbe00;
$color-dark-orange:#e68900;

$color-main: $color-blue;
$color-main-text: #676767;
$color-body-background: $color-light-grey;

$desktop-size:'min-width: 992px';
$tablet-size:'min-width: 600px';

// Menus
$sidebar-width: 270px;

// INPUT

$border-color-default: #c5c5c5;
